*
!.gitignore
!bowtie2_montecarlo.py
!bwa_mapping.sh
!hisat2_mapping.sh
!indexing.sh
!make_contacts_universal_notsample.sh
!master_mapping.sh
!master_until_cigar.sh
!sam2bam_and_sort.sh
!star_montecarlo.py
!scatterplots.py
!reports/bwa_wrapper_new1_final_UniqueRNA_DNA.png
!reports/bwa_wrapper_new1_final_UU_UM.png
!reports/bwa_wrapper_new1_final.tsv
!reports/star_wrapper_new1_final_UniqueRNA_DNA.png
!reports/star_wrapper_new1_final_UU_UM.png
!reports/star_wrapper_new1_final.tsv
!reports/bowtie2_wrapper_new1_final_UniqueRNA_DNA.png
!reports/bowtie2_wrapper_new1_final_UU_UM.png
!reports/bowtie2_wrapper_new1_final.tsv
!reports/hisat2_wrapper_new1_final_UniqueRNA_DNA.png
!reports/hisat2_wrapper_new1_final_UU_UM.png
!reports/hisat2_wrapper_new1_final.tsv
