*
!.gitignore
!mappers.conf
!README.md
!bowtie2_montecarlo.py
!bwa_mapping.sh
!hisat2_mapping.sh
!indexing.sh
!make_contacts_sample.sh
!make_contacts_universal_notsample.sh
!master_mapping.sh
!master_until_cigar.sh
!sam2bam_and_sort.sh
!star_montecarlo.py
!scatterplots.py
!reports/
!reports/**
