*
!.gitignore
!bowtie2_montecarlo.py
!bwa_mapping.sh
!hisat2_mapping.sh
!indexing.sh
!make_contacts_sample.sh
!make_contacts_universal_notsample.sh
!master.py
!sam2bam_and_sort.sh
!star_montecarlo.py
!bowtie2_montecarlo_outputs/UU_vs_UM_raw_and_filtered.png
!bwa_14outof50_newscript_rawcontacts/UU_vs_UM_raw_and_filtered.png
!hisat2_14outof50_correct_rawcontacts/UU_vs_UM_raw_and_filtered.png
!star_40outof50_rawcontacts/UU_vs_UM_raw_and_filtered.png
!bowtie2_montecarlo_outputs/cigar_run.sh
!bowtie2_montecarlo_outputs/UU_vs_UM_raw_and_filtered.py
!bwa_14outof50_newscript_rawcontacts/UU_vs_UM_raw_and_filtered.py
!hisat2_14outof50_correct_rawcontacts/UU_vs_UM_raw_and_filtered.py
!star_40outof50_rawcontacts/cigar_run.sh
!star_40outof50_rawcontacts/UU_vs_UM_raw_and_filtered.py
